{% extends 'base.html' %}

{% block head %}
<title>users_list</title>
{% endblock %}

{% block body %}
<body style="background-color: blueviolet; height: 100%;">
<nav class="main-nav">
    <ul>
        <li class="logout"><a href="/login" class="logout"> Logout </a>
    </ul>
</nav>
{% for user in users_list %}
<table>
    <th>Id</th>
    <br>
    <th>Name</th>
    <th>Date created</th>
    <th>Admin</th>
    <th>Delete</th>
    <tr>
        <td>{{ user.id }}</td>
        <br>
        <td>{{ user.name}}</td>
        <td>{{ user.date_created.date() }}</td>
        <td>{{ user.isadmin }}</td>
        <td>
            <a href="/deleteuser/{{username}}/{{key}}/{{user.id}}" style="color: rgb(47, 0, 83)">Delete</a>
            <br>
        </td>
    </tr>
</table>
{% endfor %}
{% endblock %}