<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Todo-list</title>
</head>
<body>
<div style="background-color: blueviolet;">
<nav class="main-nav">
    <ul>
        <li class="logout"><a href="/login" class="logout"> Logout </a>
        </li><li class="daily">
            <a href="/about/{{username}}/{{key}}">
                <p>about</p>
                <img src="{{url_for('static', filename='images/about.jpg')}}" alt="about">
            </a>
        </li><li class="urgent">
            <a href="/urgent_list/{{username}}/{{key}}">
                <p>Urgent</p><img src="{{url_for('static', filename='images/late.jpg')}}" alt="late">
            </a>
        </li><li class="daily">
            <a href="/daily_list/{{username}}/{{key}}">
                <p>Daily list</p>
                <img src="{{url_for('static', filename='images/daily.jpg')}}" alt="daily">
            </a>
        </li><li class="lazy">
            <a href="/lazy_list/{{username}}/{{key}}">
                <p>Lazy list</p>
                <img src="{{url_for('static', filename='images/lazy.jpg')}}" alt="lazy">
            </a>
        </li><li li class="shopping">
            <a href="/shopping_list/{{username}}/{{key}}">
                <p>Shopping list</p>
                <img src="{{url_for('static', filename='images/shopping.jpg')}}" alt="shopping">
            </a>
        </li><li class="shopping">
            <a href="/donate">
                <p>Donate us!</p>
                <img src="{{url_for('static', filename='images/paypal.jpg')}}" alt="donate">
            </a>
        </li><li>
                <a href="/importance/{{username}}/{{key}}" style="color: rgb(0, 0, 0)"> Importance </a>
            </li>
    </ul>
</nav>
    <div class="contentimportance">
        <div class="importance">
            <h1>Why Todo list?</h1>
            <article>
                One of the fundamental tools for time management is that list of things you need to get done.
                It consolidates all your tasks in one place.
                <br>
                From there you can prioritize them and tackle the important ones first.
                <br>
                <br>
                There are 5 key advantages to maintaining a to-do list:
                <br>
                <br>
                <b> A to-do list doesn’t forget </b>
                <br>
                <br>
                Your brain is not the most efficient memory tool and will only trust systems that it knows works.
                <br>
                Good memory recall is as simple as finding those things that will jog your brain at the time it needs to remember.
                <br>
                Having a written list helps us remember when things have do be done so we do not miss anything.
                <br>
                <br>
                <b> A to-do list helps you set priorities </b>
                <br>
                <br>
                Making a to-do list is an important first step but prioritizing that list ensures that you focus on the most important items
                <br>
                rather than giving in to the temptation of working on less important items because they may stand out more
                <br> 
                or because they are easier to do.
                Once you have a list of the things you need to complete, set priorities and decide which jobs should be done first.
                <br>
                <br>
                <b> A to-do list lets you coordinate similar tasks </b>
                <br>
                <br>
                A to-do list helps us to avoid repetition of labour.
                <br>
                if we have to deliver a document at an office and collect a document from another office which is on the same block,
                both these tasks can be done together.
                <br>
                A load of time is lost in the starting,
                stopping and changing of different levels or types of activity.
                Save time by performing like tasks together.
                <br>
                Make all your outgoing phone calls at the same time;organize your errands into a single run; reply to e-mail;etc.
                <br>
                You will find this a more efficient use of your time.
                <br>
                <br>
                <b> A to-do list tracks your progress </b>
                <br>
                <br>
                Using a to-do list enables you to mark off the tasks you have completed.
                At the end of the day, when you look at the list,
                it will give you a sense of accomplishment and satisfaction.
                It might also have the effect of waking you up if nothing has been marked completed.
                <br>
                <br>
                <b> A to-do list makes it easy to carry-over tasks </b>
                <br>
                <br>
                If anything remains incomplete at the end of the day,it can be carried over to tomorrow’s list.
                This is an easy way of preparing a to-do list for the next day;
                by examining the to-do list of today and carrying forward any task that is incomplete.</article>
        </div>
    </div>
</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/static/js/paypal.js"></script>
</body>
</html>