{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>

<header>
    <img src="{{url_for('static', filename='images/blah.jpg')}}" alt="Spongyclub welcome banner">
</header>
{% endblock %}

{% block body %}
<div class="contentabout">
    <div class="about">
        <h1>~hello good sir, please login~</h1>

        

        <form action="/register" method="POST">
            <label for="text"">username: </label>
            <input type="text" name="username" id="username" required>
            <label for="password">password: </label>
            <input type="password" name="pass1" id="pass1" required>
            <label for="password">password verification: </label>
            <input type="password" name="pass2" id="pass2" required>
            <br>
            <br>    
            <input type="submit" value="Register">
        </form>
        <br>




    </div>
</div>
{% endblock %}