{% extends 'base.html' %}

{% block head %}
<title>Todo-list</title>
{% endblock %}

{% block body %}
<div class="contentimportance" style="background-color: blueviolet";>
    account was created created successfully
</div>
<div class="contentabout">
    <div class="about">
        <h1>~hello good sir, please login~</h1>

        <form action="/login" method="POST">
            <label for="text"">username: </label>
            <input type="text" name="username" id="username" required>
            <label for="password">password: </label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>    
            <input type="submit" value="Login">
        </form>
        <br>
        <span>
            don't have an account?
            <br>
            <a href="/register">click here to register</a>
        </span>
        <br>
        p.s. we have dogs inside
    </div>
</div>

{% endblock %}
